includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
        - database/seeders
    # Исключаем тесты
    excludePaths:
        - tests
    # Игнорируем ошибки в тестах
    ignoreErrors:
        - '#tests/Unit/Models/TaskTest\.php#'
        - '#Call to method PHPUnit\\Framework\\Assert::#'
        - '#Property Tests\\Feature\\TaskTest::\$status#'
    level: 5
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false