includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
        - database/seeders
    
    excludePaths:
        - tests/*
        - tests/Feature/*
        - tests/Unit/*
    
    level: 5
    
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Foundation\Auth\User
    
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    
    dynamicConstantNames:
        - config
        - env
    
    ignoreErrors:
        - '#.*tests/.*#'
        - '#Call to method PHPUnit\\Framework\\Assert::.*#'
        - '#will always evaluate to true#'
        - '#method\.alreadyNarrowedType#'